 <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Home</a>
        <!--<a class="blog-nav-item" href="#">New features</a>
        <a class="blog-nav-item" href="#">Press</a>
        <a class="blog-nav-item" href="#">New hires</a>
        <a class="blog-nav-item" href="#">About</a>-->
      </nav>
    </div>
  </div>

  <div class="container">

    <div class="blog-header">
      <h1 class="blog-title">Shankar Gurav's Blog {{title}}</h1>
      <p class="lead blog-description">Using example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

      <div class="col-sm-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">Sample blog post</h2>
          <p class="blog-post-meta">Sept 21, 2016 by <a href="#">Shankar</a></p>
        </div>
        <!-- /.blog-post -->
        <nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>

      </div>
      <!-- /.blog-main -->
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <div class="bio">
            <ul>
              <li>I am technology void() person, passionate about coding and turning client use cases to real life solution.
                I get passionate about everything that connects each other, be it human or things. Technology is just syntactical
                way of plugging parts together to prepare a complete solution for me. So I explore, learn, utilize and expertise
                those all technologies which helps me to provide user centric solutions.</li>
              <li>I'm able to catch requirements and translate them into realistic and implementable definitions</li>
              <li>I'm approachable and fun to work with (at least they say so)</li>
              <li>I can make technology and content work together</li>
            </ul>

            <p>My technology specialties are, though not limited to: Azure, Office 365, SharePoint 2013/2010, Angular Js, PowerShell,
              ASP.NET, MVC, IoT (Arduino, esp8266), Communities, Blogging, Portal (SharePoint Intranet, Internet), Search,
              Collaboration, Social Computing, TFS, Java Script, JQuery.</p>
          </div>
        </div>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
          </ol>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
      <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="./js/bootstrap.min.js"></script>